.container {
    width: 500px;
    height: 500px;
    position: relative;
}

.square {
    width: 150px;
    height: 150px;
    animation-name: move_container-box;
    animation-duration: 4500ms;
    animation-iteration-count: infinite;
    position: absolute;
    top: 0;
    left: 12px;
}

@keyframes move_container-box {
    0% {
        background-color: orange;
    }
    
    25% {
        background-color: pink;
        transform: translate(0,600px);
    }

    50% {
        background-color: blueviolet;
        transform: translate(600px,600px);
    }

    75% {
        background-color: brown;
        transform: translate(600px,0);
    }

    100% {
        background-color: blue;
        transform: translate(0,0);
    }
}